@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  max-width: 1200px;
}

p {
  line-height: 1.5;
  color: rgb(113 128 150);
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  width: 100%;
  height: 100%;
  max-height: 50vh;
  padding: 20px;
}

.purple {
  color: #6600ff;
}

.title {
  color: #6600ff;
  font-size:20px;
}

.logo {
  width: 50px;
  height: auto;
  margin-right: 10px;
  border-radius: 2px;
  padding: 0;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-text {
  font-size: 24px;
  font-weight: bold;
  color: black;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
}
.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.nav__container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #fff;
}
.nav__link {
  margin-left: 16px;
  text-decoration: none;
  font-size: 18px;
  padding: 8px;
  color:lightslategrey
}

.nav__link:hover {
  text-decoration: underline;
}

.nav__link--primary {
  border-radius: 20px;
  background-color: #6600ff;
  color: white;
  padding: 8px;
}

.nav__link--primary:hover {
  text-decoration: none;
}

.label {
  font-size: 20px;
  padding: 12px 0;
}

.section__title {
  font-size: 48px;
}

/*  LANDING. */

.header__container {
  padding-top: 8px;
  width: 100%;
  max-width: 1200px;
  margin: auto 0;
  display: flex;
  align-items: center;
}

.header__description {
  width: 40%;
}

.header__img--wrapper {
  width: 60%;
}

h1 {
  font-size: 56px;
  margin-bottom: 24px;
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 32px;
  text-align: center;
}

.signup-container {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

.email-signup {
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.email-signup input {
  padding: 10px;
}

.email-signup button {
  padding: 10px 20px;
  background-color: #6600ff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.header__img--wrapper {
  padding: 20px;
  z-index: 2;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: auto 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.no-cursor {
  cursor: not-allowed;
}

/* SERVICES */

#services {
  position: relative;
  max-width: 100vw;
  background-color: white;
}

.container {
  padding: 56px 0;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: auto 0;
}

.services {
  display: flex;
  flex-wrap: wrap;
}

.service__description {
  display: flex;
  flex-direction: column;
}

p {
  text-align: center;
  padding: 12px;
}

.service__wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.service {
  padding: 0 24px;
  width: calc(100% / 3);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.service__para {
  text-align: center;
  max-width: 280px;
}

.imageContainer{
  border: 1px solid lightgray;
  border-radius:50%;
}

.service__subtitle {
  font-size: 20px;
  margin-bottom: 16px;
  text-align: center;
}

button {
  padding: 8px;
  background-color: #6600ff;
  color: white;
  border-radius: 8px;
  border: none;
}

/* QUALITY WORK */

#quality-work .images {
  width: 50%;
}

#quality-work .row {
  display: flex;
}

/* STEPS */

#steps {
  position: relative;
  width: 100%;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.img {
  width: 50%;
}

.steps__wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.steps__title {
  font-size: 48px;
}

.step {
  display: flex;
}

.number {
  display: flex;
  font-size: 28px;
  color: lightgrey;
  font-style: bold;
}

.steps {
  display: flex;
  flex-direction: column;
}

.steps__subtitle {
  font-size: 18px;
}

.steps__para {
  text-align: left;
}

.step__description{
  display: flex;
  flex-direction: column;
}

/* VALUES */

.feature {
  display: flex;
}

.img1 {
  background-color: rgb(154 230 180);
  color: rgb(39 103 73);
  border-radius: 50%;
  padding: 0.5rem;
}

.img2 {
  background-color: rgb(254 178 178);
  color: rgb(155 44 44);
  border-radius: 50%;
  padding: 0.5rem;
}

.feature__title {
  margin-left: 0.75rem;
  font-size: 1.25rem;
  font-weight: 700;
}

.feature__description {
  margin-top: 1rem;
  text-align: center;
  line-height: 1.625;
  color: rgb(113 128 150);
}

feature__wrapper{
  display: flex;

}

/* PRICING */

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.plans {
  display: flex;
  flex-wrap: wrap;
}

.plan {
  width: calc(100% / 3);
  display: flex;
  flex-direction: column;
}

.li {
  display: flex;
}

button {
  padding: 10px 20px;
  background-color: #6600ff;
  color: white;
  border-radius: 8px;
  border: none;
}

.plans__planHeader{
  display:flex;
  flex-direction: column;
  padding-top:2rem;
  padding-bottom:2rem;
  line-height:1.625;
}

.plans__planFeature{
  display:flex;
  flex-direction: column;
  padding: 2rem;
}