@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  max-width: 1200px;
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  width: 100%;
  height: 100%;
  max-height: 50vh;
  padding: 20px;
}

.purple {
  color: #6600ff;
}

.logo {
  width: 160px;
  border-radius: 20px;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
}
.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.nav__container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7-px;
  padding: 0 20px;
  background-color: #fff;
}
.nav__link {
  margin-left: 16px;
  text-decoration: none;
  font-size: 18px;
  color: #6600ff;
  font-weight: bold;
  padding: 8px;
}

.nav__link:hover {
  text-decoration: underline;
}

.nav__link--primary {
  border-radius: 20px;
  background-color: #6600ff;
  color: white;
  padding: 8px;
}

.nav__link--primary:hover {
  text-decoration: none;
}

.label {
  font-size: 20px;
  padding: 12px 0;
}

.section__title {
  font-size: 48px;
}



/*  LANDING. */


.header__container {
  padding-top: 8px;
  width: 100%;
  max-width: 1200px;
  margin: auto 0;
  display: flex;
  align-items: center;
}

.header__description {
  width: 40%;
}

.header__img--wrapper {
  width: 60%;
}

h1 {
  font-size: 56px;
  margin-bottom: 24px;
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 32px;
  text-align: center;
}

.signup-container {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

.email-signup {
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.email-signup input {
  padding: 10px;
}

.email-signup button {
  padding: 10px 20px;
  background-color: #6600ff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.header__img--wrapper {
  padding: 20px;
  z-index: 2;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: auto 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.no-cursor {
  cursor: not-allowed;
}

/* SERVICES */

#services {
  position: relative;
  max-width: 100vw;
  background-color: white;
}

.container {
  padding: 56px 0;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: auto 0;
}

.services {
  display: flex;
  flex-wrap: wrap;
}

.service__description {
  display: flex;
  flex-direction: column;
}

p {
  text-align: center;
  padding: 12px;
}

.service__wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.service {
  padding: 0 24px;
  width: calc(100% / 3);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.service__para {
  text-align: center;
  max-width: 280px;
}

.service__img {
  border: 2px solid #6600ff;
  color: #6600ff;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  font-size: 36px;
  margin-bottom: 24px;
}

.service__subtitle {
  font-size: 20px;
  margin-bottom: 16px;
  text-align: center;
}

button {
  padding: 8px;
  background-color: #6600ff;
  color: white;
  border-radius: 18px;
  border: none;
}

/* QUALITY WORK */

#quality-work .images {
  width: 50%;
}

#quality-work .row{
  display: flex;
}




/* STEPS */

#steps {
  position: relative;
  width: 100%;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.images {
  width: 50%;
}

.section-wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.steps-title {
  font-size: 48px;
}

.full-step {
  display: flex;
}

.number {
  display: flex;
  font-size: 28px;
  color: lightgrey;
  font-style: bold;
}

.steps {
  display: flex;
  flex-direction: column;
}

.steps__subtitle {
  font-size: 18px;
}

.steps__para {
  text-align: left;
}

/* PRICING */

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.plans {
  display: flex;
  flex-wrap: wrap;
}

.plan {
  width: calc(100% / 3);
  display: flex;
  flex-direction: column;
}

.li {
  display: flex;
}
